
/*pick a font family to traget the whole body content*/
body{
    background-color: #AAD4CF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/*target the body max width according to the width of the wide picture*/
.bodysize{
    background-color: #D4E9E7;
    max-width: 1024px;
    margin: auto;
}

header img{
    position: relative;
    height: 341px;
    width: 100%;


}
header{
    height: 341px;
}
/*overlay the the title on top of the picture*/
.overlay-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-12%, -450%);
    font-size: 50px;
    color: white;

    }
    
  

/* remove lines under nav and change color to black and add borders to the right side*/
nav {
    text-align: center;
    display: inline-block;
    width: 100%;
  
}
nav a{
    text-align: center;
    display: inline-block;
    width: 30.3%;
    border-right: 1px solid;
    text-decoration: none;
    color: black;
    font-size: 20px; ;
}

/*target the last child in the nav to remove the right border*/
nav a:last-child{
    border-right: none;
}
/*traget the wrapper to float on the left side*/
.wrapper{
    float: left;
    width:150px;
    height: fit-content;
    margin-right:15px ;
    margin-left: 10px;
}
/*dont forget to add the clear to the first thing after the float*/
p{
    font-size: 14px;
    clear: none;
    margin-left: 15px;
}
/*add a border to the form and a color to it*/
form{
    border: 1px solid black;
    width: 100%;
    padding: 9px 17px;
    box-sizing: border-box;
}

label{
    font-size: 14px;
}

/* target all h1, h2 and h3 to have the same margin to be aligned*/
h1,h2,h3 {

    margin-left: 10px;
}



ul {
    
    font-size: 14px;
}

/*move the send button to the right*/
button{
    margin-left: 5px;
    }


/*footer needs to be on the right bottom of the page with text align (right)*/
footer{
    text-align:right;
}

.inputbox{
    width: 100%;
    height: fit-content;
}
/* make the message input box slightly larger on the height than the other 2 */
.inputboxlarge{
    width: 100%;
    height: 70px;
}